In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt

In [2]:
# import and preview investment csv
investments_df = pd.read_csv("resources/investments.csv", delimiter=",", encoding = 'unicode_escape')
investments_df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# import and preview income csv
income_df = pd.read_csv("resources/kaggle_income.csv", delimiter=",", encoding = 'unicode_escape')
income_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [4]:
# clean investments csv
investments_df.columns
investments_df = investments_df[['name', 'homepage_url', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding']]
investments_df

# drop null values
investments_df = investments_df.dropna()
investments_df

investments_df.dtypes

# convert funding_total_usd to float
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].astype("str")
investments_df[' funding_total_usd '] = investments_df[' funding_total_usd '].str.replace(',','')
investments_df[' funding_total_usd '] = pd.to_numeric(investments_df[' funding_total_usd '], errors='coerce')
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,NaN,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000.0,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# filter for USA only
investments_df = investments_df.loc[investments_df['country_code']=='USA']
investments_df

,name,homepage_url,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,undisclosed,convertible_note,debt_financing,angel,grant,private_equity,post_ipo_equity,post_ipo_debt,secondary_market,product_crowdfunding
0,#waywire,http://www.waywire.com,News,1750000.0,acquired,USA,NY,New York City,New York,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,004 Technologies,http://004gmbh.de/en/004-interact,Software,NaN,operating,USA,IL,"Springfield, Illinois",Champaign,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,NaN,operating,USA,CA,Los Angeles,Los Angeles,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,1750000.0,operating,USA,NJ,Newark,Iselin,1.0,...,0.0,1750000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,10-20 Media,http://www.10-20media.com,E-Commerce,2050000.0,operating,USA,MD,Baltimore,Woodbine,4.0,...,0.0,0.0,2050000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49425,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,13000000.0,operating,USA,PA,Philadelphia,Radnor,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49426,Zynga,http://www.zynga.com,Technology,866550786.0,operating,USA,CA,SF Bay Area,San Francisco,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49427,Zyngenia,http://www.zyngenia.com,Biotechnology,25000000.0,operating,USA,MD,"Washington, D.C.",Gaithersburg,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49429,ZYOMYX,http://www.zyomyx.com,Biotechnology,34275015.0,operating,USA,MO,MO - Other,Fremont,4.0,...,0.0,0.0,0.0,0.0,7500000.0,0.0,0.0,0.0,0.0,0.0
49437,[x+1],http://www.xplusone.com/,Enterprise Software,45000000.0,operating,USA,NY,New York City,New York,4.0,...,0.0,0.0,17000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# clean income df - remove extraneous columns
income_df = income_df[['State_Name', 'State_ab', 'County', 'City', 'Place',
       'Type','Zip_Code','Lat',
       'Lon', 'Mean', 'Median', 'Stdev', 'sum_w']]
income_df

,State_Name,State_ab,County,City,Place,Type,Zip_Code,Lat,Lon,Mean,Median,Stdev,sum_w
0,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,36611,30.771450,-88.079697,38773,30506,33101,1638.260513
1,Alabama,AL,Barbour County,Louisville,Clio city,City,36048,31.708516,-85.611039,37725,19528,43789,258.017685
2,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,35051,33.191452,-86.615618,54606,31930,57348,926.031000
3,Alabama,AL,Mobile County,Satsuma,Creola city,City,36572,30.874343,-88.009442,63919,52814,47707,378.114619
4,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,36528,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,970,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,602,18.385424,-67.203310,15520,9923,15541,238.813450
32523,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,602,18.356565,-67.180686,41933,34054,31539,313.551070
32524,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,602,18.412041,-67.213413,0,0,0,0.000000
32525,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,603,18.478094,-67.160453,28049,20229,33333,512.884803

In [10]:
# join both dfs by State_ab and state_code
investment_income = pd.merge(income_df, investment_df, on=['State_ab', 'state_code'], how="outer")
investment_income

NameError: name 'investment_df' is not defined